{require_min_otp_vsn, "R20"}.

{erl_opts, [
    debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard,
    {parse_transform, lager_transform},
    {i, "./_build/default/lib/gpb/include"},
    {d, 'WITH_JIFFY'}
%%    {config, ["config/dev_sys.config", "config/test.config"]}
]}.

{deps, [
    {jsx, "2.8.0"},
    {hackney, "1.6.4"}
]}.

{deps, [
    {lager, ".*", {git, "git://github.com/erlang-lager/lager.git", {tag, "3.6.1"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
    {erlang_uuid, ".*", {git, "git://github.com/okeuday/uuid.git", {branch, "master"}}},
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
    {idna, "1.2.0"},
    {recon, ".*", {git, "git://github.com/ferd/recon.git", {tag, "2.3.4"}}}
]}.

{profiles, [
    {test, [
        {sys_config, "rel/shell.config"},
        {erl_opts, [
            debug_info,
            {lager_truncation_size, 20480}
        ]},
        {deps, [
            {meck, ".*", {git, "git://github.com/eproxus/meck.git", {branch, "master"}}},
            {ecoveralls, ".*", {git, "git://github.com/nifoc/ecoveralls.git", {branch, "master"}}}
        ]}
    ]},
    {prod, [
        {erl_opts, [no_debug_info]}
    ]}
]}.
